@tailwind base;
@tailwind components;
@tailwind utilities;


/* Ensure custom popup has highest z-index */
.custom-popup .mapboxgl-popup-content {
  background: transparent !important;
  border: none !important;
  padding: 0 !important;
  box-shadow: none !important;
}
